login/pom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://maven.apache.org/POM/4.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="project" type="ns:projectType" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
  <xs:complexType name="parentType">
    <xs:sequence>
      <xs:element type="xs:string" name="groupId"/>
      <xs:element type="xs:string" name="artifactId"/>
      <xs:element type="xs:string" name="version"/>
      <xs:element type="xs:string" name="relativePath"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element type="xs:string" name="java.version"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dependencyType">
    <xs:sequence>
      <xs:element name="groupId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="org.springframework.boot"/>
            <xs:enumeration value="org.apache.commons"/>
            <xs:enumeration value="org.mybatis.spring.boot"/>
            <xs:enumeration value="mysql"/>
            <xs:enumeration value="org.yaml"/>
            <xs:enumeration value="org.projectlombok"/>
            <xs:enumeration value="org.mybatis.generator"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="artifactId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="spring-boot-starter-web"/>
            <xs:enumeration value="spring-boot-configuration-processor"/>
            <xs:enumeration value="commons-pool2"/>
            <xs:enumeration value="mybatis-spring-boot-starter"/>
            <xs:enumeration value="spring-boot-devtools"/>
            <xs:enumeration value="mysql-connector-java"/>
            <xs:enumeration value="snakeyaml"/>
            <xs:enumeration value="lombok"/>
            <xs:enumeration value="spring-boot-starter-test"/>
            <xs:enumeration value="mybatis-generator-core"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="optional" minOccurs="0"/>
      <xs:element name="version" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2.6.0"/>
            <xs:enumeration value="2.0.0"/>
            <xs:enumeration value="8.0.15"/>
            <xs:enumeration value="1.3.6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="scope" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="test"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dependenciesType">
    <xs:sequence>
      <xs:element type="ns:dependencyType" name="dependency" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://maven.apache.org/POM/4.0.0">
        <xs:annotation>
          <xs:documentation><![CDATA[<dependency><groupId>org.springframework.session</groupId><artifactId>spring-session</artifactId><version>1.3.5.RELEASE</version></dependency><dependency><groupId>org.springframework.session</groupId><artifactId>spring-session-data-redis</artifactId><exclusions><exclusion><groupId>io.lettuce</groupId><artifactId>lettuce-core</artifactId></exclusion></exclusions></dependency><dependency><groupId>redis.clients</groupId><artifactId>jedis</artifactId></dependency>]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configurationType">
    <xs:sequence>
      <xs:element type="xs:string" name="fork" minOccurs="0"/>
      <xs:element type="xs:string" name="configurationFile" minOccurs="0"/>
      <xs:element type="xs:string" name="verbose" minOccurs="0"/>
      <xs:element type="xs:string" name="overwrite" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pluginType">
    <xs:sequence>
      <xs:element name="groupId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="org.springframework.boot"/>
            <xs:enumeration value="org.mybatis.generator"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="artifactId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="spring-boot-maven-plugin"/>
            <xs:enumeration value="mybatis-generator-maven-plugin"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="version" minOccurs="0"/>
      <xs:element type="ns:configurationType" name="configuration" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
      <xs:element type="ns:dependenciesType" name="dependencies" minOccurs="0" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pluginsType">
    <xs:sequence>
      <xs:element type="ns:pluginType" name="plugin" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buildType">
    <xs:sequence>
      <xs:element type="ns:pluginsType" name="plugins" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="projectType">
    <xs:sequence>
      <xs:element type="xs:string" name="modelVersion"/>
      <xs:element type="ns:parentType" name="parent" xmlns:ns="http://maven.apache.org/POM/4.0.0">
        <xs:annotation>
          <xs:documentation>lookup parent from repository</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="groupId"/>
      <xs:element type="xs:string" name="artifactId"/>
      <xs:element type="xs:string" name="version"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="ns:propertiesType" name="properties" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
      <xs:element type="ns:dependenciesType" name="dependencies" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
      <xs:element type="ns:buildType" name="build" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>